@import "../../scss/variables";

.wrapper {
  // max-width: 1400px;
  // height: 700px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../galary/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;

  @media screen and (min-width: $breakpoint-tablet) {
  }

  @media screen and (min-width: $breakpoint-tablet-horizontal) {
  }

  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.content {
  width: 50%;
  padding-left: 80px;
  padding-top: 180px;
  padding-bottom: 90px;
}

// .textOutline {
//   font-family: Unbounded, sans-serif;
//   font-size: 90px;
//   font-weight: 900;
//   line-height: 130%; /* 117px */
//   text-transform: uppercase;
// -webkit-text-fill-color: transparent;
// -webkit-text-stroke: 1px #ffffff;
//   margin: 0;
//   padding: 0;
// }

.title {
  position: relative;
  color: #ff612f;
  font-family: Unbounded, sans-serif;
  // font-size: 48px;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "КОНТАКТИ";
    font-family: Unbounded, sans-serif;
    font-size: 90px;
    font-weight: 900;
    line-height: 130%; /* 117px */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #8f8f8f;
    margin: 0;
    padding: 0;
    left: -3px;
    top: -50%;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 35px;
  }

  @media screen and (min-width: $breakpoint-tablet-horizontal) {
    font-size: 40px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 48px;
  }
}
