@import "../../scss/variables";
@import "../../scss/fonts";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0px;

  background-image: url("../../assets/galary/section-background-rotate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.runningLlineBlock {
  overflow: hidden;
}

.runningLlineText {
  width: max-content;

  font-family: Unbounded, sans-serif;
  color: #ff612f;
  font-size: 48px;
  line-height: 150%; /* 72px */
  text-transform: uppercase;
  animation: scroll 700s linear infinite;
  overflow: hidden;
}

.lineRotate {
  transform: rotate(180deg);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
