@import "../../../scss/variables";
@import "../../../scss/fonts";

.section {
  margin: 50px 0;
}

.title {
  color: wheat;
  font-size: 35px;
  padding: 40px;
}

.beeritems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  list-style: none;
  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
