@import "../../scss/variables.scss";
.aside {
  padding-top: 100px;
}

.list {
  list-style: none;
  color: white;
  text-transform: uppercase;
}

.linkItem {
  text-decoration: none;
  color: white;
}

.listItem {
}
