@import "../../../../scss/variables";
@import "../../../../scss/fonts";

.runningText {
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  fill: white;

  transition: transform 0.5s ease-in-out;

  font-family: Unbounded, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  width: 250px;
  height: 250px;
}
svg {
  display: block;
  width: 90%; /* Розширте ширину до 100% */
  height: auto; /* Автоматично вирахувана висота */
}
