@import "../../scss/variables";
@import "../../scss/fonts";

.section {
  position: relative;
  // max-width: 1400px;
  // height: 700px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../../assets/galary/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $breakpoint-tablet) {
  }

  @media screen and (min-width: $breakpoint-tablet-horizontal) {
  }

  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.content {
  position: relative;
  width: 50%;
  padding-top: 200px;
  margin-bottom: 140px;
}
.textOutline {
  // font-family: Unbounded, sans-serif;
  font-size: 110px;
  font-weight: 900;
  line-height: 130%; /* 117px */
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  margin: 0;
  padding: 0;
}

.title {
  position: absolute;
  top: 60%;
  left: 4px;
  color: #ff612f;
  font-family: Unbounded, sans-serif;
  // font-size: 48px;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
  text-transform: uppercase;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 35px;
  }

  @media screen and (min-width: $breakpoint-tablet-horizontal) {
    font-size: 40px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 48px;
  }
}

.promotion {
  color: #fff;
  font-family: Unbounded, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 130%; /* 49.4px */
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 25px;
}

.description {
  width: 450px;
  color: #fff;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

.heroLink {
  position: absolute;
  z-index: 3;
  right: 25%;
  bottom: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 300px;

  text-decoration: none;
  color: #fff;

  // border: 1px solid white;
  // border-radius: 100%;

  animation-name: spin;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.textSvg {
  width: 300px;
  height: 300px;
}

.cursorSvg {
  position: absolute;

  width: 88px;
  height: 88px;

  fill: #ff612f;
  padding: 0;
  margin: 0;

  animation-name: spinCur;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pagination {
  display: flex;
  justify-content: space-around;
  width: 50px;
  color: #ff612f;
  margin-left: 100px;
  padding-bottom: 140px;
}

.endsection {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 95%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinCur {
  100% {
    transform: rotate(0deg);
  }

  0% {
    transform: rotate(360deg);
  }
}
