@import "../../../scss/variables";
@import "../../../scss/fonts";

.section {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 40px 0px;

	@media screen and (min-width: $breakpoint-tablet) {
		padding: 40px 0px;
	}
	@media screen and (min-width: $breakpoint-tablet-horizontal) {
		padding: 60px 0px;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		padding: 80px 0px;
	}

	&::after {
		position: absolute;
		top: 13%;
		z-index: -1;

		content: "";
		width: 100%;
		outline: 2px solid #7d7d7d;
		background-color: rgba(141, 141, 141, 0.1);
		top: 330px;
		height: 220px;
		@media screen and (min-width: $breakpoint-tablet) {
			top: 300px;
			height: 205px;
		}
		@media screen and (min-width: $breakpoint-tablet-horizontal) {
			height: 250px;
		}
		@media screen and (min-width: $breakpoint-laptop) {
			top: 350px;
			height: 220px;
		}
		@media screen and (min-width: $breakpoint-desktop) {
			top: 400px;
			height: 225px;
		}
	}
}

.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	@media screen and (min-width: $breakpoint-tablet) {
		flex-direction: row;
	}
	@media screen and (min-width: $breakpoint-tablet-horizontal) {
		gap: 12px;
	}
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// min-width: 343px;
	max-width: 600px;

	@media screen and (min-width: $breakpoint-tablet) {
		justify-content: space-between;
		// min-width: 343px;
		max-width: 365px;
	}

	@media screen and (min-width: $breakpoint-desktop) {
		width: 362px;
	}
}

.itemImg {
	display: block;
	// width: 362px;
	// height: 200px;
	min-width: 343px;
	background-color: #686868;
	margin-bottom: 28px;
	border-radius: 30px;
}

.itemTitle {
	color: #fff;
	font-family: Unbounded;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%; /* 26px */
	text-transform: uppercase;
	margin-bottom: 12px;

	@media screen and (min-width: $breakpoint-desktop) {
		margin-bottom: 20px;
	}
}

.itemDescription {
	color: #cdcdcd;
	font-family: Nunito Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 28px */
	margin-bottom: 24px;
}
