@import "../../../scss/variables";
@import "../../../scss/fonts";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0px;

  background-image: url("../../../assets/galary/section-background-rotate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.runningLlineWrapper {
  max-width: 100%;
  overflow: hidden;
}

.runningLlineBlock {
  display: flex;
  width: 231%;
  animation: scroll 45s linear infinite;
}

.runningLlineText {
  font-family: Unbounded, sans-serif;
  color: #ff612f;
  font-size: 48px;
  line-height: 150%; /* 72px */
  text-transform: uppercase;

  white-space: nowrap;
  width: 100%;
}

.lineRotate {
  transform: rotate(180deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
