.section {
  background-color: rgb(146, 78, 106);
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: wheat;
  font-size: 35px;
  padding: 40px;
}

.beeritems {
  display: grid;
  gap: 20px;
  grid-template-columns: 400px 400px 400px;
}
