@import "../../scss/variables";
@import "../../scss/fonts";

.section {
  // background-color: rgb(146, 78, 106);
  margin: 150px 0;
  // max-width: 1240px;
}

.title {
  color: wheat;
  font-size: 35px;
  padding: 40px;
}

.beeritems {
  display: grid;
  gap: 24px;
  grid-template-columns: 400px 400px 400px;
}
