@import "../../../scss/variables";
@import "../../../scss/fonts";

.card {
  display: flex;
  width: 343px;
  gap: 8px;
  border-radius: 20px;
  background-color: rgba(97, 97, 97, 0.2);

  @media screen and (min-width: $breakpoint-tablet) {
    width: 365px;
    flex-direction: column;
  }
  @media screen and (min-width: $breakpoint-tablet-horizontal) {
  }
  @media screen and (min-width: $breakpoint-tablet) {
    width: 411px;
  }
}

.imagewrapper {
  width: 134px;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 365px;
    height: 40%;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: 411px;
    height: 200px;
  }
}

.img {
  display: block;
  border-radius: 20px 0px 0px 20px;
  @media screen and (min-width: $breakpoint-desktop) {
    border-radius: 20px 20px 0px 0px;
  }
}

.contentWrapper {
  padding: 14px 10px;
}

.title {
  color: #ff612f;
  font-family: Unbounded, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 130%; /* 28.6px */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.datawrapper {
  display: flex;
  flex-direction: column;
}

.paramwrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.paramalcohol {
  display: flex;
  color: #fff;
  font-family: Unbounded;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%; /* 18.2px */
}

.paramibu {
  color: #fff;
  font-family: Unbounded;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%; /* 18.2px */
}

.description {
  color: #cdcdcd;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 140%; /* 19.6px */
  margin-bottom: 20px;
  padding: 0 20px;
}

.price {
  display: block;
  position: relative;
  padding: 13px 15px;
  color: #ffffff;
  border-radius: 11px;
  border: 2px solid #fff;

  margin: auto;
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 13px 25px;
    width: max-content;
  }
}
