@import "../../../scss/variables";
@import "../../../scss/fonts";

.section {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style: none;
}
