@import "../../../scss/variables";
@import "../../../scss/fonts";

.section {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
  @media screen and (min-width: $breakpoint-tablet-horizontal) {
    padding: 60px 0px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 80px 0px;
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  list-style: none;
}
