@import "../../scss/variables";
@import "../../scss/fonts";

.header {
  position: absolute;
  z-index: 9;
  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
  border-bottom: 2px solid #282828;
  display: flex;
  justify-content: center;
  width: 100%;
}

.headerwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  // margin: 0 auto;

  margin-left: auto;
}
.logolink {
  // display: block;
  width: 100px;
}
.logo {
  display: block;
  text-decoration: none;
  width: 70px;
}

.navlink {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #ff612f;
  }
  &:focus {
    color: #ff612f;
  }
}
