@import "../../scss/variables";

.header {
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid wheat;
}

.headerwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logolink {
  display: block;
  width: 100px;
}
.logo {
  display: block;
  text-decoration: none;
  width: 70px;
}

.navmenu {
}

.navlist {
  display: none;
  list-style: none;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    gap: 20px;
  }
}

.navlink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

// --------------------------------- Modal

.modalwrapper {
  display: none;

  background: rgb(45, 44, 44);
  // background-image: radial-gradient(rgb(166, 163, 166), rgb(49, 49, 49));
}

.modalcontent {
  // background: rgb(45, 44, 44);
  background-image: radial-gradient(rgb(113, 113, 113), rgb(49, 49, 49));
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px 0 0 35px;
}

.modallist {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
