@import "../../scss/variables";

.header {
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid wheat;
}

.headerwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logolink {
  display: block;
  width: 100px;
}
.logo {
  display: block;
  text-decoration: none;
  width: 70px;
}

.navmenu {
}

.navlist {
  display: none;
  list-style: none;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    gap: 20px;
  }
}

.navlink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;

  &.active {
    color: orange;
  }
}
