@import "../../../scss/variables";
@import "../../../scss/fonts";

.section {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // justify-content: space-around;
  @media screen and (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }
}

.linkwrapper {
  // max-width: max-content;
}

.link {
  text-decoration: none;
  color: white;
}

.linkText {
  color: #cdcdcd;
  font-family: Nunito Sans, sans-serif;
  line-height: 150%; /* 24px */
  margin-bottom: 20px;
}

.linkPath {
  color: #f5f5f5;
  font-family: Unbounded, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.beerImg {
  display: block;
  width: 163px;
  height: 187px;
  border-radius: 20px;

  background-image: url(../../../assets/galaryAbutUsSection/beer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.barImg {
  display: block;
  width: 163px;
  height: 187px;
  border-radius: 20px;

  background-image: url(../../../assets/galaryAbutUsSection/bar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rightPartWrapper {
  display: flex;
  flex-direction: column;
  // width: 100%;
}

.beerTapImg {
  display: block;

  height: 157px;
  border-radius: 20px;
  margin-bottom: 24px;

  background-image: url(../../../assets/galaryAbutUsSection/bar2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promoWrapper {
  display: flex;
  gap: 27px;
  justify-content: space-between;
}

.quote {
  width: 43px;
  height: 43px;
  fill: #fff;
}

.promoText {
  color: #cdcdcd;
  font-family: Nunito Sans, sans-serif;
  line-height: 150%; /* 24px */
  // width: 80%;
}
