@import "../../scss/variables";
@import "../../scss/fonts";

.section {
  display: block;
  padding: 150px 50px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 150px 50px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 100px;
  }
}

.title {
  color: #ff612f;
}

.link {
  color: #ff612f;
  margin-left: 10px;
  // text-decoration: none;
}
