@import "../../../scss/variables";
@import "../../../scss/fonts";

.section {
  display: flex;
  justify-content: center;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;

  gap: 50px;
  @media screen and (min-width: $breakpoint-tablet-horizontal) {
    flex-direction: row;
  }
}
