@import "../../scss/variables";
@import "../../scss/fonts";

.footer {
  // background-color: rgb(235, 235, 235);
  border-top: 1px solid wheat;

  background-image: url("../galary/section-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footercontent {
  padding: 40px;
  color: wheat;
}
