@import "../../scss/variables";
@import "../../scss/fonts";

.subMenuList {
  list-style: none;
  margin-left: 20px;
}

.subMenuItem {
  color: var(--white-50, rgba(255, 255, 255, 0.5));
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%; /* 26px */
  cursor: pointer;

  &:hover {
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
}
