@import "../../../scss/variables.scss";

.container {
  // max-width: 1440px;
  width: 1280px;

  // margin-left: auto;
  // margin-right: auto;
  // padding: 0 20px;

  // @media screen and (min-width: $breakpoint-tablet) {
  //   width: 768px;
  //   padding-left: 32px;
  //   padding-right: 32px;
  // }

  // @media screen and (min-width: $breakpoint-tablet-horizontal) {
  //   width: 1024px;
  //   // padding-left: 100px;
  //   // padding-right: 100px;
  // }

  // @media screen and (min-width: $breakpoint-desktop) {
  //   width: 1200px;
  //   // padding-left: 100px;
  //   // padding-right: 100px;
  // }
}
