@import "../../../scss/variables.scss";

.container {
  // max-width: 1440px;

  padding: 0 16px;
  // margin-left: auto;

  // margin-left: auto;
  // margin-right: auto;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-tablet) {
    min-width: 736px;
  }

  @media screen and (min-width: $breakpoint-tablet-horizontal) {
    min-width: 992px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: 1280px;
  }
}
