@import "../../scss/variables";
@import "../../scss/fonts";

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(30, 30, 30, 0.5);

  display: flex;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    top: 70%;
    width: 100%;
    border-top: 1px solid #7d7d7d;
  }
}

.footerWrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 62px 0;
}

.logolink {
  // display: block;
  width: 100px;
}
.logo {
  display: block;
  text-decoration: none;
  width: 70px;
}

.navmenu {
}

.navlink {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #ff612f;
  }
  &:focus {
    color: #ff612f;
  }
}

.timetWrapper {
  width: 150px;
}

.adressWrapper {
  width: 240px;
}

.contactTitle {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  color: #fff;
}

.contact {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  color: #cdcdcd;
}

.footerNav {
  flex-direction: column;
}

.sicialWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 42px;
}

.sicialItem {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  &:hover {
    fill: #ff612f;
  }
  &:focus {
    fill: #ff612f;
  }
}

.rightsWrapper {
  width: 100%;
}

.rights {
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  color: #cdcdcd;
  padding: 34px 0;
}
