@import "../../scss/variables";
@import "../../scss/fonts";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("../../assets/galary/section-background-rotate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textBlock {
  outline: 2px solid white;

  // display: flex;
  // justify-content: center;
  // margin-left: auto;
}

.text {
  color: #fff;
  font-family: Unbounded;
  font-size: 24px;
  font-weight: 300;
  line-height: 150%; /* 36px */
}
