@import "../../scss/variables";
@import "../../scss/fonts";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("../../assets/galary/section-background-rotate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textBlock {
  display: flex;
  justify-content: center;
}

.textBlockWrapper {
  display: flex;
  gap: 28px;
}
.quote {
  width: 40px;
  height: 40px;
  fill: bisque;
  color: black;
}

.text {
  color: #fff;
  font-family: Unbounded;
  font-size: 24px;
  font-weight: 300;
  line-height: 150%; /* 36px */
}
