@import "../../../../scss/variables";
@import "../../../../scss/fonts";

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 302px;
  height: 307px;
  background-color: #fff;
}

// .rotate {
//   transform: rotate(10deg);
// }

.imgwrapper {
  width: 272px;
  height: 216px;
  padding: 15px;
  margin-bottom: 15px;
}

.image {
  display: block;
  width: 272px;
  height: 216px;
}

.title {
  color: #202020;
  font-family: Unbounded, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%; /* 18.2px */
  text-transform: uppercase;
}
